<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oasystem.dao.TTmpltMapper" >
  <resultMap id="BaseResultMap" type="com.oasystem.pojo.TTmplt" >
    <result column="C_ID" property="cId" jdbcType="INTEGER" />
    <result column="C_TEMP_NAME" property="cTempName" jdbcType="VARCHAR" />
    <result column="C_SUBMIT_DEPT" property="cSubmitDept" jdbcType="VARCHAR" />
    <result column="C_SUBMIT_DATE" property="cSubmitDate" jdbcType="TIMESTAMP" />
    <result column="C_APPROVE_DEPT_1" property="cApproveDept1" jdbcType="VARCHAR" />
    <result column="C_APPROVE_DEPT_2" property="cApproveDept2" jdbcType="VARCHAR" />
    <result column="C_APPROVE_DEPT_3" property="cApproveDept3" jdbcType="VARCHAR" />
    <result column="C_APPROVE_DEPT_4" property="cApproveDept4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    C_ID, C_TEMP_NAME, C_SUBMIT_DEPT, C_SUBMIT_DATE, C_APPROVE_DEPT_1, C_APPROVE_DEPT_2, 
    C_APPROVE_DEPT_3, C_APPROVE_DEPT_4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oasystem.pojo.TTmpltExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_tmplt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.oasystem.pojo.TTmpltExample" >
    delete from t_tmplt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oasystem.pojo.TTmplt" >
    insert into t_tmplt (C_ID, C_TEMP_NAME, C_SUBMIT_DEPT, 
      C_SUBMIT_DATE, C_APPROVE_DEPT_1, C_APPROVE_DEPT_2, 
      C_APPROVE_DEPT_3, C_APPROVE_DEPT_4)
    values (#{cId,jdbcType=INTEGER}, #{cTempName,jdbcType=VARCHAR}, #{cSubmitDept,jdbcType=VARCHAR}, 
      #{cSubmitDate,jdbcType=TIMESTAMP}, #{cApproveDept1,jdbcType=VARCHAR}, #{cApproveDept2,jdbcType=VARCHAR}, 
      #{cApproveDept3,jdbcType=VARCHAR}, #{cApproveDept4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.oasystem.pojo.TTmplt" >
    insert into t_tmplt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        C_ID,
      </if>
      <if test="cTempName != null" >
        C_TEMP_NAME,
      </if>
      <if test="cSubmitDept != null" >
        C_SUBMIT_DEPT,
      </if>
      <if test="cSubmitDate != null" >
        C_SUBMIT_DATE,
      </if>
      <if test="cApproveDept1 != null" >
        C_APPROVE_DEPT_1,
      </if>
      <if test="cApproveDept2 != null" >
        C_APPROVE_DEPT_2,
      </if>
      <if test="cApproveDept3 != null" >
        C_APPROVE_DEPT_3,
      </if>
      <if test="cApproveDept4 != null" >
        C_APPROVE_DEPT_4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="cTempName != null" >
        #{cTempName,jdbcType=VARCHAR},
      </if>
      <if test="cSubmitDept != null" >
        #{cSubmitDept,jdbcType=VARCHAR},
      </if>
      <if test="cSubmitDate != null" >
        #{cSubmitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cApproveDept1 != null" >
        #{cApproveDept1,jdbcType=VARCHAR},
      </if>
      <if test="cApproveDept2 != null" >
        #{cApproveDept2,jdbcType=VARCHAR},
      </if>
      <if test="cApproveDept3 != null" >
        #{cApproveDept3,jdbcType=VARCHAR},
      </if>
      <if test="cApproveDept4 != null" >
        #{cApproveDept4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oasystem.pojo.TTmpltExample" resultType="java.lang.Integer" >
    select count(*) from t_tmplt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_tmplt
    <set >
      <if test="record.cId != null" >
        C_ID = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.cTempName != null" >
        C_TEMP_NAME = #{record.cTempName,jdbcType=VARCHAR},
      </if>
      <if test="record.cSubmitDept != null" >
        C_SUBMIT_DEPT = #{record.cSubmitDept,jdbcType=VARCHAR},
      </if>
      <if test="record.cSubmitDate != null" >
        C_SUBMIT_DATE = #{record.cSubmitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cApproveDept1 != null" >
        C_APPROVE_DEPT_1 = #{record.cApproveDept1,jdbcType=VARCHAR},
      </if>
      <if test="record.cApproveDept2 != null" >
        C_APPROVE_DEPT_2 = #{record.cApproveDept2,jdbcType=VARCHAR},
      </if>
      <if test="record.cApproveDept3 != null" >
        C_APPROVE_DEPT_3 = #{record.cApproveDept3,jdbcType=VARCHAR},
      </if>
      <if test="record.cApproveDept4 != null" >
        C_APPROVE_DEPT_4 = #{record.cApproveDept4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_tmplt
    set C_ID = #{record.cId,jdbcType=INTEGER},
      C_TEMP_NAME = #{record.cTempName,jdbcType=VARCHAR},
      C_SUBMIT_DEPT = #{record.cSubmitDept,jdbcType=VARCHAR},
      C_SUBMIT_DATE = #{record.cSubmitDate,jdbcType=TIMESTAMP},
      C_APPROVE_DEPT_1 = #{record.cApproveDept1,jdbcType=VARCHAR},
      C_APPROVE_DEPT_2 = #{record.cApproveDept2,jdbcType=VARCHAR},
      C_APPROVE_DEPT_3 = #{record.cApproveDept3,jdbcType=VARCHAR},
      C_APPROVE_DEPT_4 = #{record.cApproveDept4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>